* {
	word-wrap:break-word;
}

body {
	word-wrap: break-word;
}

p {
	margin:1px;
}

div{
	font-family: sans-serif;
	padding-left: 5px;
	padding: 2px;
	margin: 2px;
}

td {
	min-width: 150px;
	max-width: 500px;
}

.dangerzoneContainer{
	background-color: red;
}

.dangerzone{
	background-color: red;
	padding: 5px;
	padding-top:0px;

}
.dangerzone>div{
	background-color:pink;
	border:1px;
}
.dangerzone>p span{
	color: white;
	font-weight: bold;
	font-size: 125%;
}
.dangerzone>div p:first-child{
	font-weight: bold;
	margin:0px;
}

label {
	display: inline-block;
	min-width: 140px;
}​